In [6]:
import pandas as pd

In [7]:
species = pd.read_csv("species.csv")
species

    year  species
0   1967       70
1   1968        0
2   1968        0
3   2007        0
4   2020        0
5   1971        0
6   1974        0
7   2021        0
8   1969        0
9   2022        1
10  2008        2
11  2003        2
12  1972        3
13  1981        4
14  2019        4
15  2018        5
16  2009        6
17  1973        7
18  1983        7
19  2005        7
20  2004        8
21  2017        9
22  2001       10
23  2011       11
24  1975       11
25  2002       11
26  1982       11
27  2006       12
28  1980       16
29  1995       18
30  1977       21
31  1999       23
32  2015       27
33  1984       32
34  1989       32
35  1976       35
36  1986       36
37  2014       36
38  1979       37
39  1990       38
40  2000       40
41  1978       42
42  2012       44
43  1970       44
44  1988       47
45  2010       54
46  1998       56
47  1985       59
48  1987       60
49  1993       67
50  2016       73
51  1997       78
52  1992       79
53  1991       80
54  2013       83
55  1996       91
56  1994      128

In [9]:
Y = species.year
Y

0     1967
1     1968
2     1968
3     2007
4     2020
5     1971
6     1974
7     2021
8     1969
9     2022
10    2008
11    2003
12    1972
13    1981
14    2019
15    2018
16    2009
17    1973
18    1983
19    2005
20    2004
21    2017
22    2001
23    2011
24    1975
25    2002
26    1982
27    2006
28    1980
29    1995
30    1977
31    1999
32    2015
33    1984
34    1989
35    1976
36    1986
37    2014
38    1979
39    1990
40    2000
41    1978
42    2012
43    1970
44    1988
45    2010
46    1998
47    1985
48    1987
49    1993
50    2016
51    1997
52    1992
53    1991
54    2013
55    1996
56    1994
Name: year, dtype: int64

In [11]:
X = species.drop(['year'], axis=1)
X

    species
0        70
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         1
10        2
11        2
12        3
13        4
14        4
15        5
16        6
17        7
18        7
19        7
20        8
21        9
22       10
23       11
24       11
25       11
26       11
27       12
28       16
29       18
30       21
31       23
32       27
33       32
34       32
35       35
36       36
37       36
38       37
39       38
40       40
41       42
42       44
43       44
44       47
45       54
46       56
47       59
48       60
49       67
50       73
51       78
52       79
53       80
54       83
55       91
56      128

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [14]:
X_train.shape, Y_train.shape

((45, 1), (45,))

In [15]:
X_test.shape, Y_test.shape

((12, 1), (12,))

In [16]:
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error, r2_score

In [21]:
model = linear_model.LinearRegression()

In [22]:
model.fit(X_train, Y_train)

LinearRegression()

In [23]:
Y_pred = model.predict(X_test)

In [36]:

print('Coefficients:', model.coef_)
print('Intercept:', model.intercept_)
print('Mean squared error (MSE): %.2f'
      % mean_absolute_error(Y_test, Y_pred))
print('Coefficient of determination (R^2): %.2f'
      % r2_score(Y_test, Y_pred))

Coefficients: [-0.01714833]
Intercept: 1993.6377552768545
Mean squared error (MSE): 19.48
Coefficient of determination (R^2): -0.05

In [48]:
species.head()

   year  species
0  1967       70
1  1968        0
2  1968        0
3  2007        0
4  2020        0

In [50]:
medv = -0.01*(year) + -0.01*(species)

NameError: name 'year' is not defined

In [37]:
r2_score(Y_test, Y_pred)

-0.05223774916277013

In [38]:
r2_score(Y_test, Y_pred).dtype

dtype('float64')

In [39]:

'%f' % 0.523810833536016

'0.523811'

In [40]:
'%.3f' % 0.523810833536016

'0.524'

In [41]:
'%.2f' % 0.523810833536016

'0.52'

In [42]:
import seaborn as sns

In [43]:
Y_test

19    2005
14    2019
0     1967
15    2018
24    1975
5     1971
16    2009
54    2013
45    2010
42    2012
8     1969
25    2002
Name: year, dtype: int64

In [44]:
import numpy as np
np.array(Y_test)

array([2005, 2019, 1967, 2018, 1975, 1971, 2009, 2013, 2010, 2012, 1969,
       2002], dtype=int64)

In [45]:
Y_pred

array([1993.51771699, 1993.56916197, 1992.43737241, 1993.55201364,
       1993.44912368, 1993.63775528, 1993.53486532, 1992.21444416,
       1992.71174564, 1992.8832289 , 1993.63775528, 1993.44912368])

In [47]:
sns.scatterplot(Y_test, Y_pred, marker="+")

TypeError: scatterplot() takes from 0 to 1 positional arguments but 2 were given